<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="alert-success">
    <div class="jumbotron bg-success text-light text-center">
        <h1 class="display-4">Stuff to do:</h1>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-bordered table-danger w-50">
                <tbody>
                    <tr>
                        <td style="width: 10%;">abc</td>
                        <td class="w-25">
                            <form>
                                <input type="submit" value="Done" />
                            </form>
                        </td>
                        <td class="w-25">
                            <form>
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>abc</td>
                        <td>
                            <form>
                                <input type="submit" value="Done" />
                            </form>
                        </td>
                        <td>
                            <form>
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>abcabcabcabcabcabcabcabcabcabcabcabcabc</td>
                        <td>
                            <form>
                                <input type="submit" value="Done" />
                            </form>
                        </td>
                        <td>
                            <form>
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>abc</td>
                        <td>
                            <form>
                                <input type="submit" value="Done" />
                            </form>
                        </td>
                        <td>
                            <form>
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>